@import "./_mixins.scss";

@include variant-states("cursor-pointer") {
  cursor: pointer !important;
}

@include variant-states("cursor-grab") {
  cursor: text !important;
}

@include variant-states("cursor-disabled") {
  cursor: not-allowed !important;
}

@include variant-states("cursor-help") {
  cursor: help !important;
}
