@for $i from 0 through 16 {
  .m-#{$i} {
    margin: #{$i * 1}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i * 1}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i * 1}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i * 1}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i * 1}rem;
  }
  .mx-#{$i} {
    margin-left: #{$i * 1}rem;
    margin-right: #{$i * 1}rem;
  }
  .my-#{$i} {
    margin-top: #{$i * 1}rem;
    margin-bottom: #{$i * 1}rem;
  }
}