@for $i from 0 through 16 {
  .m-#{$i} {
    margin: #{$i * 1}rem !important;
  }
  .m-#{$i}_5 {
    margin: #{$i + 0.5}rem !important;
  }

  .mt-#{$i} {
    margin-top: #{$i * 1}rem !important;
  }
  .mt-#{$i}_5 {
    margin-top: #{$i + 0.5}rem !important;
  }

  .mr-#{$i} {
    margin-right: #{$i * 1}rem !important;
  }
  .mr-#{$i}_5 {
    margin-right: #{$i + 0.5}rem !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 1}rem !important;
  }
  .mb-#{$i}_5 {
    margin-bottom: #{$i + 0.5}rem !important;
  }

  .ml-#{$i} {
    margin-left: #{$i * 1}rem !important;
  }
  .ml-#{$i}_5 {
    margin-left: #{$i + 0.5}rem !important;
  }

  .mx-#{$i} {
    margin-left: #{$i * 1}rem !important;
    margin-right: #{$i * 1}rem !important;
  }
  .mx-#{$i}_5 {
    margin-left: #{$i + 0.5}rem !important;
    margin-right: #{$i + 0.5}rem !important;
  }

  .my-#{$i} {
    margin-top: #{$i * 1}rem !important;
    margin-bottom: #{$i * 1}rem !important;
  }
  .my-#{$i}_5 {
    margin-top: #{$i + 0.5}rem !important;
    margin-bottom: #{$i + 0.5}rem !important;
  }
}
