.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.font-weight-lighter {
  font-weight: lighter;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-bolder {
  font-weight: bolder;
}

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-success {
  color: var(--color-success);
}
.color-danger {
  color: var(--color-danger);
}
.color-warning {
  color: var(--color-warning);
}
.color-info {
  color: var(--color-info);
}
.color-light {
  color: var(--color-light);
}
.color-dark {
  color: var(--color-dark);
}
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}

.text-decoration-none {
  text-decoration: none;
}
