@import "./_vars.scss";
@import "./_mixins.scss";

// Text colors
@each $key, $value in $color-map {
  @include variant-states("color-#{$key}") {
    color: $value !important;
  }
}

// Font sizes
@for $i from 1 through 6 {
  .font-#{$i}-rem {
    font-size: #{$i}rem !important;
  }
  .font-#{$i}_5-rem {
    font-size: #{$i + 0.5}rem !important;
  }
}

// Text alignments
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

// Font weights
.font-weight-lighter {
  font-weight: lighter !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
.font-weight-bolder {
  font-weight: bolder !important;
}

// Text decorations
.text-decoration-none {
  text-decoration: none !important;
}
