.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
.font-weight-bolder {
  font-weight: bolder !important;
}

.color-primary {
  color: var(--color-primary) !important;
}
.color-secondary {
  color: var(--color-secondary) !important;
}
.color-success {
  color: var(--color-success) !important;
}
.color-danger {
  color: var(--color-danger) !important;
}
.color-warning {
  color: var(--color-warning) !important;
}
.color-info {
  color: var(--color-info) !important;
}
.color-light {
  color: var(--color-light) !important;
}
.color-dark {
  color: var(--color-dark) !important;
}
.color-white {
  color: var(--color-white) !important;
}
.color-black {
  color: var(--color-black) !important;
}

.text-decoration-none {
  text-decoration: none !important;
}
