@font-face {
  font-family: "Teko";
  src: url("@/assets/fonts/Teko-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Wotfard";
  src: url("@/assets/fonts/Wotfard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
